.pf{
    text-align: center;
}
.h{
   text-align: center;
   background-color: greenyellow;
   color: black;
   text-shadow: 2px 2px 5px red;
}
.b{
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  
.b span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.b span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.b:hover span{
    padding-right: 25px;
    
}
.b:hover span:after{
    opacity: 1;
    right: 0;
}